<%= form_for @group do |f|%>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<select id="sport_id" name="sport_id">
  		<option value="1">Football</option>
  		<option value="2">Basketball</option>
  		<option value="3">Volleyball</option>
  		<option value="3">Tennis</option>
  		<option value="3">Hockey</option>
	</select>
	<br>
	<%= f.submit 'Create' %>
	<br>
<%end%>
<br>
<button><%= link_to("Back", '/')%></button>

