<div class="container">
	<div class="row">
	<div class="col-md-3" style="background: pink;">
		<h3>The list of users!</h3>
		<h3>User Profile</h3>
	<ul>
		<%= flash[:notice]%>
		<%= image_tag @logged_in_user.photo.url(:medium) %>
		<li><%= @logged_in_user.name%></li>
		<li><%= @logged_in_user.email%></li>
		<li><%= @logged_in_user.birthday%></li>

	</ul>
	<br>
	<% unless current_user.nil? || @logged_in_user.id != current_user.id%>
		<%= link_to("Edit", edit_user_path)%>
	<%end%>

		<p> This group have <%= @users_count%> users.</p>
		<% unless current_user.nil? %>
			<% if @group.admin_id == current_user.id %>
				<div class="dropdown">
  				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Admin<span class="caret"></span></button>
  				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  					<li role="presentation" class="dropdown-header">Dropdown header</li>
    				<li role="presentation"><a role="menuitem" tabindex="-1" ><%= link_to("Edit", edit_group_path(@group.id))%></li>
    				<li role="presentation"><a role="menuitem" tabindex="-1" ><%= link_to("Delete", group_path(@group.id), method: :delete)%></li>
  				</ul>
		<ul>
			<% @users.each do |user|%>
			<h4><%= image_tag user.photo.url(:thumb)%><%= user.name%></h4><hr>
			<%end%>
		</ul>
			</div>
		</div>
	<div class="col-md-9" style="background: yellowgreen;">
		<h1><%= @group.name%></h1>
		<%= image_tag @group.logo.url(:medium) %><%= @group.description%>
		<h4>Type of sport: <%= @sport%></h4>
		<hr>
		<h1>Upcoming events </h1>
				<ul>
					<li><%unless current_user.nil?%>
						<% if current_user.id == @group.admin_id%>
					<%= link_to("Add new Event", new_group_event_path(@group.id))%>
					<%end%></li>
					<%end%>
				</ul>
				<hr>
				<ul>
				<% @events.each do |event|%>
			<div style="background: yellow; padding: 10px; margin:5px;">
					<h2><li><%= event.title%></li></h2>
					<h4><li><%= event.date%></li></h4>
					<% unless current_user.nil? || current_user.group_id != @group.id%>
						<%= link_to("Event details", event_path(event))%>
						<br>
					<%end%>

					<% unless current_user.nil? || current_user.id == @group.admin_id%>
						<%= link_to("Edit", edit_event_path(event))%>
						<%= link_to("Delete", event_path(event), method: :delete)%>
					<%end%>
			</div>
				<%end%>
				<br>
				</ul>
			<%= link_to("Back", '/')%>
				<%= link_to("Edit", edit_group_path(@group.id))%>
				<%= link_to("Delete", group_path(@group.id), method: :delete)%>
			<% elsif @group.id == current_user.group_id %>
				<%= link_to("Leave", leave_group_path, method: :post)%>
			<% elsif current_user.group_id == nil %>
				<%= link_to("Join", join_group_path(@group.id), method: :post)%>
			<% end %>
		<%end%>

		<br>
	</div>
		<br>
	</div>
</div>