<h2>This is an inside of the group page!</h2>
<div class="container">
	<div class="row">
		<div class="col-md-2" style="background: skyblue;">
		<h3>Statistics </h3>
		<h4> Best rated </h4>
		<h4> History </h4>
		<h4> Attendence </h4>
		<h4> goals scored </h4>
	</div>
	<div class="col-md-7" style="background: yellowgreen;">
		<h1>Upcoming events </h1>
		<% unless current_user.nil? || current_user.group_id != @group.id%>
			<%= link_to("Add new Event", new_group_event_path(@group.id))%>
		<%end%>
		<hr>
		<ul>
			<% @events.each do |event|%>
			<h2><li><%= event.title%></li></h2>
			<h4><li><%= event.date%></li></h4>
			<% unless current_user.nil? || current_user.group_id != @group.id%>
				<%= link_to("Event details", event_path(event))%>
				<%end%>
			<%end%>
			<br>
		</ul>
	</div>
	<div class="col-md-3" style="background: pink;">
		<h3>The list of users!</h3>
		<p> This group have <%= @users_count%> users.</p>
		<ul>
			<% @users.each do |user|%>
			<h4><li><%= link_to(user.name, user_path(user.id))%></li></h4><hr>
			<%end%>
		</ul>
		<br>
		<% unless current_user.nil? || current_user.group_id == @group.id%>
			<% unless current_user.group_id.nil? || current_user.group_id == @group.id%>
				<%= link_to("Join", join_group_path(@group.id), method: :post)%>
			<%end%>
		<%else%>
			<% unless current_user.nil? || current_user.group_id == 0%>
				<%= link_to("Leave", leave_group_path, method: :post)%>
			<%end%>
		<%end%>
	</div>
		<br>
	</div>
</div>
<br>
<button><%= link_to("Back", '/')%></button>