<div class="container">
	<div class="row">
		<div class="col-md-3 members_field">
			<% unless current_user.nil? %>
				<% if @group.id == current_user.group_id %>
					<%= link_to("Leave", leave_group_path, method: :post)%>
				<% elsif current_user.group_id == nil %>
					<%= link_to("Join", join_group_path(@group.id), method: :post)%>
				<% end %>
			<% end %>
			<h3>Members!</h3>
			<% @users.each do |user|%>
				<h4><%= image_tag user.photo.url(:thumb)%><%= user.name%></h4>
				<hr>
			<% end %>
				</div>
				<div class="col-md-9 front_field">
					<% unless current_user.nil?%>
						<% if @group.admin_id == current_user.id %>
							<div class="dropdown pull-right">
			  					<button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="caret"></span></button>
				  				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				  					<li role="presentation" class="dropdown-header">Group menu</li>
				    				<li role="presentation"><%= link_to("Edit", edit_group_path(@group.id))%></li>
				    				<li role="presentation"><%= link_to("Delete", group_path(@group.id), method: :delete)%></li>
				  				</ul>
							</div>
						<% end %>
					<% end %>
					<h1><%= @group.name%></h1>
					<%= image_tag @group.logo.url(:thumb), :class => "img-rounded" %> <h4><%= @group.description%></h4>
					<h4>Type of sport: <%= @sport%></h4>
					<hr>
					<h1>Upcoming events </h1>
						<ul>
							<li>
								<%unless current_user.nil?%>
									<% if current_user.id == @group.admin_id%>
										<%= link_to("Add new Event", new_group_event_path(@group.id))%>
									<% end %>
								<% end %>
							</li>
						</ul>
						<hr>
						<ul>
							<% @events.each do |event|%>
								<div class="event_field" style="padding: 10px; margin:5px;">
										<% if current_user.id == @group.admin_id %>
											<div class="dropdown pull-right">
					  							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					  								<span class="caret"></span></button>
						  							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						  								<li role="presentation" class="dropdown-header">Event menu</li>
						    							<li role="presentation"><a role="menuitem" tabindex="-1" ><%= link_to("Edit", edit_event_path(event))%></li>
						    							<li role="presentation"><a role="menuitem" tabindex="-1" ><%= link_to("Delete", event_path(event), method: :delete)%></li>
						  							</ul>
											</div>
										<% end %>
									<h2><li><%= event.title%></li></h2>
									<h4><li><%= event.date%></li></h4>
									<% unless current_user.nil? %>
										<% if current_user.group_id == @group.id %>
											<%= link_to("Info", event_path(event), class: "btn btn-info")%>
											<br>
										<% end %>
									<% end %>

								</div>
							<% end %>
							<br>
						</ul>
						<%= link_to("Back", '/', :class => "btn btn-default")%>
			<br>
		</div>
		<br>
	</div>
</div>