<h2>This is an inside of the group page!</h2>
<div class="container">
	<div class="row">
		<div class="col-md-2" style="background: skyblue;">
		<h3>Statistics </h3>
		<h4> Best rated </h4>
		<h4> History </h4>
		<h4> Attendence </h4>
		<h4> goals scored </h4>
	</div>
	<div class="col-md-8" style="background: yellowgreen;">
		<h1>Upcoming events </h1>
				<ul>
					<li><% if current_user.nil? || current_user.id == @group.admin_id%>
					<%= link_to("Add new Event", new_group_event_path(@group.id))%>
					<%end%></li>
				</ul>
				<hr>
				<ul>
				<% @events.each do |event|%>
					<h2><li><%= event.title%></li></h2>
					<h4><li><%= event.date%></li></h4>
					<% unless current_user.nil? || current_user.group_id != @group.id%>
						<%= link_to("Event details", event_path(event))%>
						<br>

					<% if current_user.nil? || current_user.id == @group.admin_id%>
						<%= link_to("Edit", edit_event_path(event))%>
						<%= link_to("Delete", event_path(event), method: :delete)%>
						<%end%>
					<%end%>
				<%end%>
				<br>
				</ul>
		<button><%= link_to("Back", '/')%></button>
	</div>

	<div class="col-md-2" style="background: pink;">
		<h3>The list of users!</h3>
		<p> This group have <%= @users_count%> users.</p>
		<ul>
			<% @users.each do |user|%>
			<h4><li><%= link_to(user.name, user_path(user.id))%></li></h4><hr>
			<%end%>
		</ul>
		<br>
		<% unless current_user.nil? %>
			<% if @group.admin_id == current_user.id %>
				<%= link_to("Delete", group_path(@group.id), method: :delete)%>
			<% elsif @group.id == current_user.group_id %>
				<%= link_to("Leave", leave_group_path, method: :post)%>
			<% elsif current_user.group_id == nil %>
				<%= link_to("Join", join_group_path(@group.id), method: :post)%>
			<% end %>
		<%end%>
	</div>
		<br>
	</div>
</div>