<div class="row">
	<div class="col-md-7 front-field">
		<h4 class="help-block">
			<%if @user.errors.any?%>
					<%@user.errors.full_messages.each do |error_msg|%>
						<%= error_msg %>
					<%end%>
			<%end%>
		</h4>
	<div class="form-group">
		<%= form_for @user, :html => { :multipart => true } do |f| %>
			<div class="form-group">
				<%= f.label :name%>
				<%= f.text_field :name, :class => "form-control", placeholder: "name"%>
			</div>
			<div class="form-group">
				<%= f.label :email%>
				<%= f.email_field :email, :class => "form-control", placeholder: "example@email.com"%>
			</div>
			<div class="form-group">
				<%= f.label :password%>
				<%= f.password_field :password, :class => "form-control", placeholder: "Password"%>
			</div>
			<div class="form-group">
				<%= f.label :password_confirmation%>
				<%= f.password_field :password_confirmation, :class => "form-control", placeholder: "password_confirmation"%>
			</div>
			<div class="form-group">
				<%= f.label :date_of_birth%>
				<%= f.date_field :birthday,:cols => 15, :class => "form-control", placeholder: "password_confirmation"%>
			</div>
			<div class="form-group">
				<%= f.label :summary%>
				<%= f.text_area :summary, :rows => 5, :class => "form-control", placeholder: "Write something about yourself"%>
			</div>
			<hr>
			<%= f.label :add_photo %> 
			<%= f.file_field :photo %>
			<hr>

			<a href="#" class="btn btn-danger btn-cancel pull-right">Cancel</a>
			<%= f.submit 'Submit', :class => "btn btn-success pull-right"%>
			<%end%>
		</div>
	</div>
</div>