<div class="container">
	<div class="row">
		<div class="co-md-3 front_field">
			<%= flash[:notice]%>
			<h2><%= current_user.name %> Profile</h2>
			<%= image_tag @user.photo.url(:medium) %>
			<h4><%= @user.name%></h4>
			<h4><%= @user.email%></h4>
			<h4><%= @user.birthday%></h4>
			<h5><%= @user.summary%></h5>
			<br>
			<% unless current_user.nil? || @user.id != current_user.id%>
			<%= link_to("Edit", edit_user_path)%>
			<%end%>			
		</div>
	</div>
</div>
