<div class="row">
	<div class="col-md-3 members-field">
		<h3>People Attending</h3>
		<hr>
		<% @users.each do |user|%>
			<h4><%= image_tag user.photo.url(:thumb)%><%= user.name%></h4><%= button_to("Remove", destroy_member_attendance_path, method: :delete)%>
		<% end %>
	</div>

	<div class="col-md-9 article-field">
			<%if @event.errors.any?%>
			<ul>
				<%@event.errors.full_messages.each do |error_msg|%>
				<li><%= error_msg %></li>
				<%end%>
			</ul>
			<%end%>
			<%= form_for(@event, url: event_path) do |f|%>
				<%= f.label :title%>
				<%= f.text_field :title, :class => "form-control", placeholder: "Event title"%>
				<br>
				<%= f.label :max_size%>
				<%= f.number_field :max_size, :size => 20, :class => "form-control col-md-1"%>
				<br>
				<%= f.label :date%>
				<%= f.datetime_select :date, :class => "form-control"%>
				<br>
				<%= f.label :description%><br>
				<%= f.text_area :description, :cols => 70, :rows => 7, :class => "form-control", :placeholder => "Description of the event"%>
				<hr>
				<%= f.submit 'Update', :class => "btn nav-tabs-blue"%>
			<%end%>
	</div>
</div>