<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Description</h3>
			<p>this is the description of the event</p>
		</div>
		<div class="col-md-3">
			<table class="table">
			<thead>
				<td>Name of attendant</td>
				<td>(<%= @event.users.size%>/<%= @event.max_size%>)</td>
			</thead>
				<% @event.users.each do |user|%>
			<tbody>
				<td><%= link_to(user.name, user_path(user.id))%></td>
			</tbody>
				<%end%>
			</table>
				<% unless @event.users.size == @event.max_size %>
					<%= link_to("Join", create_attendance_path(@event.id), method: :post)%>
					<% end %>
					<% if @attendance.include? current_user.id %>
					<%= link_to("Leave", destroy_attendance_path(@event.id), method: :delete)%>
					<% end %>
		</div>
		<br>
		<br>
		<br>
	</div>
	<%= link_to("back", group_path(@event.group_id))%>
</div>