<!DOCTYPE html>
<html>
<head>
  <title>DoSports</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1>Do sport!</h1>
</header>
<div class="login" style="background: yellowgreen;">
	<% if current_user %>
  		Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
	<%else%>
		<%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
	<%end%>
</div>
<%= yield %>

</body>
</html>
